@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Вечерника в честь Нового года!</h1>
    <p>Приглашаем вас на вечеринку в честь Нового года.</p>
    <p>Пожалуйста, заполните форму:</p>
    <a asp-area="" asp-controller="Rsvps" asp-action="Create">RSVP</a>
</div>

